<ion-content class="login-container">
  <div class="logo-section">
    <ion-icon name="checkmark-done-circle-outline" class="logo-icon"></ion-icon>
    <h1>TaskFlow</h1>
    <p>Organiza tus tareas de manera fácil</p>
  </div>

  <div class="form-section">
    <ion-list>
      <ion-item>
        <ion-input
          [(ngModel)]="email"
          type="email"
          placeholder="correo@ejemplo.com"
          label="Correo electrónico"
          labelPlacement="floating"
        >
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="password"
          type="password"
          placeholder="********"
          label="Contraseña"
          labelPlacement="floating"
        >
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="login()" class="login-btn">
      Iniciar Sesión
    </ion-button>

   <ion-button expand="block" fill="clear" (click)="goToRegister()" class="register-btn">
  Crear cuenta nueva
</ion-button>
  </div>
</ion-content>