<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/todo-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="settings-container">
    <ion-list>
      <ion-item>
        <ion-icon name="notifications-outline" slot="start" style="color: #8B5F9E;"></ion-icon>
        <ion-label>Notificaciones</ion-label>
        <ion-toggle [(ngModel)]="notificationsEnabled"></ion-toggle>
      </ion-item>
      
      <ion-item>
        <ion-icon name="moon-outline" slot="start" style="color: #8B5F9E;"></ion-icon>
        <ion-label>Modo Oscuro</ion-label>
        <ion-toggle [(ngModel)]="darkMode"></ion-toggle>
      </ion-item>
    </ion-list>
    
    <ion-button expand="block" (click)="saveSettings()" class="save-btn">
      Guardar cambios
    </ion-button>
  </div>
</ion-content>